<html>
  <body>
    <p>
      Results:<br>
      <% @results.each do |result| %>
        <div>
          <%= result %>
        </div>
      <% end %>
      <br>
    </p>

    </p>
      Jobs:<br>
      <% @jobs.each do |job| %>
        <div>
          <%= job %>
        </div>
      <% end %>
    </p>
  </body>
</html>
